{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}AUKA{% endblock %}</title>

  <!-- Tailwind / CSS global del prototipo -->
  <link rel="stylesheet" href="{% static 'css/figma-tailwind.css' %}">
  {% block extra_head %}{% endblock %}
</head>

<body class="min-h-screen flex flex-col">
  {% include "site/partials/navbar.html" %}

  <main class="flex-1">
    {% block content %}{% endblock %}
  </main>

  {% include "site/partials/footer.html" %}
</body>
</html>
